* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	/* now rem is 10px  */
	font-size: 62.5%;
}
body {
	font-family: 'Inter', sans-serif;
}
.navigation {
	height: 8vh;
	display: flex;
	justify-content: start;
	align-items: center;
}
.accordion-box {
	width: 555px;
}
.navigation p {
	margin-left: 3rem;
	font-size: 3rem;
	font-family: 'Inknut Antiqua', serif;
}
.faq-section {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.faq__title,
.faq__title--under,
.accordion__item--header {
	font-weight: 500;
}
.faq__title {
	font-size: 3.6rem;
}
.faq__title--under {
	font-size: 1.8rem;
	margin: 3rem 0 4rem;
	letter-spacing: -1px;
}
.accordion__item {
	margin: 1rem 0;
}
.accordion__item--header {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0;
	font-size: 1.8rem;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.accordion__item--header::after {
	content: '\2192';
	font-size: 3rem;
	transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.575);
}
.accordion__item--header.active::after {
	transform: rotate(90deg);
}
.accordion__item--body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
}
.accordion__item--body-content {
	padding: 3rem 0;
	font-size: 1.4rem;
	font-weight: 400;
}

@media (max-width: 600px) {
	.navigation {
		height: 15vh;
		align-items: flex-start;
	}
	/* navigation p = title hello. */
	.navigation p {
		margin-left: 1rem;
	
	
	}
	.accordion-box {
		width: 300px;
	}
}
